<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<p>Author name:</p>
<p><%= @article.author.name %></p>

<li><%= link_to "Edit", edit_article_path(@article) %></li>
<li><%= link_to "Destroy", article_path(@article),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li>
<li><%= link_to "All Articles", articles_path %></li>
<!--Oпция method: :delete приведет к тому, что ссылка сделает запрос DELETE вместо запроса GET -->